.titolo{
	padding-top:60px;
}
a:link {
    text-decoration: none;
}

a:visited {
    color:#006600 !important;
}

a:hover {
    text-decoration: none;
}

a:active {
    color:#006600 !important;
}

a>h4{
	color:#000000 !important;
	
	font-weight:;
	font-size:1.5em;
}
a>h4:hover{
	color:#006600 !important;
	

}
.left{

}